.ng-valid[required], .ng-valid.required, .ng-valid:not(form) {
    border-bottom: 5px solid mediumseagreen;
}

.ng-invalid:not(form)  {
    border-bottom: 5px solid red;
}

.ng-untouched {
    border-bottom: 5px solid gray !important;
}