<h2>Add product</h2>
    <form
        [formGroup]="addProductForm"
        (ngSubmit)="onSubmit(addProductForm)">

        <div class="form-group">
            <label for="title">title:</label>

            <input type="text"
                    class="form-control"
                    id="title"
                    formControlName="title"
                    name="title">
            <div *ngIf="formErrors.title"
                    class="alert alert-danger">
                {{ formErrors.title }}
            </div>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text"
                class="form-control"
                name="price"
                formControlName="price"
                id="price" >
        </div>
        <div *ngIf="formErrors.price"
                class="alert alert-danger">
                    {{ formErrors.price }}
                </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="text"
                class="form-control"
                name="rating"
                formControlName="rating"
                id="rating" >
        </div>
        <div *ngIf="formErrors.rating"
                class="alert alert-danger">
            {{formErrors.rating}}
        </div>
        <div class="form-group">
            <label for="descriotion">description:</label>
            <input type="text"
                class="form-control"
                name="description"
                formControlName="description"
                id="descriotion" >
        </div>
        <div *ngIf="formErrors.descriotion"
                    class="alert alert-danger">
            {{formErrors.descriotion}}
        </div>
        <div class="form-group">
            <label for="categories">category:</label>
            <select name="categories"
                    id="category"
                    class="form-control col-md-2"
                    formControlName="categories">
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
        </div>
        <div *ngIf="formErrors.category"
                class="alert alert-danger">
            {{formErrors.category}}
        </div>
        <input
            type="submit"
            class="btn btn-default"
            [disabled]="addProductForm.invalid"
            value="Добавить товар">
</form>